/* General setup */

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-size: 10px;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 1;
  font-family: "Roboto";
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

section > h2 + p{
  text-indent: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

h1 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  font-size: 3em;
  letter-spacing: 1px;
}

nav ul {
  list-style-type: none;
}

nav ul li{
  border: 1px solid #a66;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
}

aside ul {
  list-style-type: square;
}

p, li {
  line-height: 2;
}

p {
  text-indent: 15 px;
}

a:hover, a:focus {
  color: rgb(233, 169, 169);
  outline: none;
  text-decoration: none;  
}

a:link {
  color: #a66;
}

a[href*= "http"]{
  background-image: url("external-link-52.png");
  background-size: 10px;
  background-position: right;
  background-repeat: no-repeat; 
  padding-right: 12px;
}

a:active {
  color: rgb(93, 56, 56);
  font-weight: 900;
}