html {
  font-family: sans-serif;
}

div {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.1rem;        /*Using a converter to calculate 18 px to 1.1 rems*/
  background-color: rgb(161, 161, 246);
  color: black;
  border-radius: 10px;
  border: 1px solid rgb(100, 100, 255);

}

/* Your CSS below here */